#main_cont{
    display: flex;
    flex-direction: row;
    height:100vh;
}

#product_div{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 73%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.card{
    margin: 25px;

}

.card_max{
    max-height: 400px;
    overflow: auto;
}

#search_div{
    display:flex;
    flex-direction:column;
    width:25%;
    height:96%;
    margin: 1%;
    padding:1%;
    border-radius: 5px;
    overflow: hidden;
}

#search_term{
    width: 75%;
}

#search_content{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow: scroll;
    align-items: center;
}