.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 20vh; 
    width: 100vw;
}
  
.card {
    padding: 10px;
    height: 20%;
    width:30vw;
    margin-bottom: 20px;
}

button{
    margin: 20px;
}

.data_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
}