/* COMMON CSS */

body{
    height:100vh;
}



.foot{
    /* margin-top:calc(100vh - 56px - 56px); */
    /* margin-top:80vh; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terms{
    text-decoration:none;
    margin:0px;
    color:black;
    font-size: 12px;
}

/* HOME CSS */

.cards_container{
    display:flex;
    justify-content: center;   
    align-items: center; 
    flex-direction:column;
    margin:20px;    

}

.card{
    margin:20px;    
}

/* LESSSONS */



/* QUIZES */

.quiz-cont{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.dotted-box{
    display:flex;
    /* flex-direction: column; */
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border: 2px dotted gray;
    border-radius: 10px;
    width:70vw;
    padding: 20px;
    margin:30px;
}

/* PROGRESS */

.progress-cont{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.progress-card{
    border:1px solid grey;
    border-radius:10px;
    width:75vw;
    padding:20px;
    margin:20px;
}

.progress-card h3{
    text-align: center;
}

h2{
    text-align: center;
    margin-top:30px;
}